/* Estilos para la barra de búsqueda */

body{
    font-family: Arial, Helvetica, sans-serif;
}


.search-bar {
    display: flex;
    align-items: center;
    width: 1400px; /* Ancho deseado de la barra de búsqueda */
    border: 1px solid #ccc;
    border-radius: 20px; /* Borde redondeado */
    padding: 5px; /* Espaciado interno */
    background-color: #F1F1F1;
}

.search-bar input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px; /* Tamaño de fuente */
    padding: 5px; /* Espaciado interno */
    background-color: #F1F1F1;
}

.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.search-bar button i {
    font-size: 24px; /* Tamaño del icono */
    color: #666; /* Color del icono */
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px; 
}

#Titulo-landing {
    font-size: 20px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #CC0000;
    
}

#logo {
    width: 50px;
    margin-right: 10px; 
   
}

.title-container {
    display: flex;
    align-items: center; 
    
}

.btn-header {
    color: #111125; 
    padding: 10px 20px; 
    font-size: 16px;
    cursor: pointer;
    background-color: transparent; 
    transition: background-color 0.3s;
}

.btn-header:hover {
    background-color: #b6b5b5;
    border-radius: 20px;
}

.btn-container {
    
    display: flex;
    align-items: center;
    margin-right: 20px;
    
}

.btn-container a {
    margin-right: 10px;
}

/* Estilos para botón */
.btn {
    background-color: #B60000;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
    border-radius: 20px;
}

.btn:hover {
    background-color: #660202;
}

/* Estilos para secciones */
section {
    text-align: center;
    margin-bottom: 140px; 
    /* Espacio entre las secciones */
    min-height: 400px; /* Altura mínima de la sección */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Estilos para el footer */
footer {
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none; 
    font-weight: bold;
    color: #6D6D6D;
}

.hidden {
    display: none;
}

.imagenes-landing {
    width: 500px;
    height: 500px; /* Establece una altura fija para todas las imágenes */
    margin-right: 100px;
}


#bell-icon{
color:#767676;
font-size:24px;
margin-right:20px;
}


#message-icon{
    color: #767676;
    font-size:24px;
    margin-right:20px;
}

#arrow-icon{
    color: #767676;
    font-size:24px;
    margin-right:20px;
}



.button-icon {
    background-color: transparent; /* Fondo transparente */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
}

.button-icon:hover {
    background-color: #f0f0f0; 
    border-radius: 20px;/* Cambia el color de fondo al pasar el ratón */
}


.save-button {
    margin-right:120px;
}


#new-message-btn {
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top:20px;
    color:black;
    width:200px;
    font-family: Arial, Helvetica, sans-serif;   
    font-weight: bold; 
}

#new-message-btn:hover {
    background-color: #b6b6b6; 
}

#new-message-btn i {
    background-color: #ff0000;
    padding: 8px; 
    border-radius: 50%; 
    margin-right: 5px; 
    color:white;
    
}

#buscarmensajes {
width:150px;
outline:none;
border:none;
background-color: #F1F1F1;

}

.search-bar-mensajes input:focus {
    outline: none;
    
}

.search-bar-mensajes:focus-within {
    outline: none;
}
